<div id="user-info">
<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
</div>

<div id="shaders"></div>

<div id="modal" title="Editor" style="display: none;">
    <div>
        <div style="margin-bottom: 10px;">
            Title: <input type="text" id="canvasName" value="Untitled"> Author: <input type="text" id="canvasAuthor" value="Anonymous"><br>
            Dim: <input type="text" size="3" id="canvasWidth" value="400"> X <input type="text" size="3" id="canvasHeight" value="284"> <button id="dimensionBtn">Apply</button>
            <table style="width: 95%;">
                <tr><td>
                    Quality:
                </td><td style="width: 80%">
                    <div id="quality"></div>
                </td></tr>
            </table>
        </div>
        <div id="canvasContainer" style="text-align: center"></div>
    </div>
    <div id="codeDiv" style="height: 100%;">
        <button id="runBtn">Compile &amp; Run</button>
        <button id="pauseBtn">Stop</button>
        <button id="submitBtn">Submit</button>
        <div id="editor" style="color: #ffffff; height: 85%;"></div>
    </div>
</div>

<div id="message"><br>Please wait...</div>